<div class="timer">
    Tiempo de juego: {{ infoService.getInfoTiempo() }}
</div>

<div class="puntaje" id ="puntaje">
    Dinero: {{ infoService.getInfoPuntaje() }}
</div>

<div>
    <h1>Escoge una estrella</h1>
    <div class="estrellas-container">
        <div *ngFor="let estrella of estrellas" class="estrella-item">
            <img src="assets/estrella.png" alt="Estrella" class="estrella-imagen">
            <div coordenadas>ID: {{ estrella.id }}</div>
            <div coordenadas>Coordenadas: [{{ estrella.coordenadaX }}, {{ estrella.coordenadaY }}, {{ estrella.coordenadaZ }}]</div>
            <button (click)="realizarViaje(estrella.id)" id ="botonViajarEstrella">Viajar a esta estrella</button>
        </div>
    </div>
</div>
