<div class="timer">
    Tiempo de ejecución: {{ timeElapsed| async }} segundos
  </div>    
<div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Coordenada X</th>
                <th>Coordenada Y</th>
                <th>Coordenada Z</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let estrella of estrellas">
                <td>{{ estrella.id }}</td>
                <td>{{ estrella.coordenadaX }}</td>
                <td>{{ estrella.coordenadaY }}</td>
                <td>{{ estrella.coordenadaZ }}</td>
                <td>
                    <a *ngIf="estrella.planetas && estrella.planetas.length > 0"
                   [routerLink]="['/escoger-planeta/list', estrella.id]">Ver planetas</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
