<div class="timer">
    Tiempo de juego: {{ infoService.getInfoTiempo()}}
</div>

<div class="puntaje" id ="puntaje">
    Puntaje: {{ infoService.getInfoPuntaje()}}
</div>

<div>
    <a [routerLink]="['/escoger-estrella/list']" class="boton-fijo">
        Volver a Viajar
    </a>
    
    <h1>Escoge un producto para comprar</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of productos">
                <td>{{producto.idInventario}}</td>
                <td id ="nombre">{{ producto.nombreProducto }}</td>
                <td id ="cantidad">{{ producto.cantidad }}</td>
                <td id ="precio">{{ producto.precio }}</td>
                <td>
                    <button (click)="realizarCompra(producto.idInventario)" id ="comprar">Comprar</button>
                    
                </td>
            </tr>
        </tbody>
    </table>
</div>

