<!--<div class="timer">
  Tiempo de ejecución: {{ timeElapsed| async }} segundos
</div>-->
<div class="inicio-container">
    <h1>Comerciante Espacial</h1>
    <h2>¡Inicia el juego!</h2>
    <form (ngSubmit)="iniciarJuego()">
      <div>
        <label for="usuario">Usuario</label>
        <input type="text" id="usuario" [(ngModel)]="loginDto.user" [(ngModel)]="usuario" name="usuario" required>
      </div>
      <div>
        <label for="contraseña">Contraseña</label>
        <input type="password" id="contrasena" [(ngModel)]="loginDto.password" [(ngModel)]="contrasena" name="contrasena" required>
      </div>
      <button type="submit" id="iniciarJuego">Iniciar Juego</button>
    </form>
</div>
